.container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333333;
}

img{
  height:150px;
  width:auto;
}

p{
  width:300px;
}

.picture{
  padding:10px;
}

.description{
  padding:10px;
}
